pkgbase = google-chrome-beta
	pkgdesc = The popular and trusted web browser by Google (Beta Channel)
	pkgver = 120.0.6099.18
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome-beta.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	provides = google-chrome
	options = !emptydirs
	options = !strip
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-beta/google-chrome-beta_120.0.6099.18-1_amd64.deb
	source = eula_text.html
	source = google-chrome-beta.sh
	sha512sums = 0654457bd0867c0199f6123b4865171ca9eed16ca43a769763e7bb2f5a24e1835602cddeaa461d1e2af0efd227033b19f559c6bf34b747dba6502fceeaf5bc35
	sha512sums = a225555c06b7c32f9f2657004558e3f996c981481dbb0d3cd79b1d59fa3f05d591af88399422d3ab29d9446c103e98d567aeafe061d9550817ab6e7eb0498396
	sha512sums = 43344065044b6e8ac12275c49f68b83c1d8208d314bf82d74a9610a2266f0f88d7c2c54d649fb59c66a2edcb7d0b3d7ad816230e2824e1d518f8f4b1e797d4b0

pkgname = google-chrome-beta
